.form {
  color: white;
  width: auto;
  margin-left: 200px;
  border-color: white;

  th {
    padding-bottom: 20px;
    text-align: right;
  }

  td {
    padding-bottom: 20px;
  }

  .textarea {
    vertical-align: top;
  }
}
