@import "banner";
@import "button";
@import "pagination";

//.noneはheaderの中で宣言されているため、使えてます

.search {
    display: none;
}

.app-form {
    margin-bottom: 25px;
    text-align: center;

    .app-span {
        color: rgba(29, 161, 242, 1);
    }

    .conditionsbox {
        display: none;
        width: 80%;
        margin: 0 auto;

        .app-flex {
            text-align: left;
            margin-bottom: 20px;

            .item-2 {
                text-align: center;

                .select {
                    width: 100%;
                    height: 25px;
                    border: solid 1px rgb(216, 216, 216);
                    background-color: white;
                    border-radius: 4px;
                }
            }
        }

        .item-5 {
            text-align: right;
        }
    }
}

.display {
    width: 90%;
    margin: 0 auto;

    .recruit {
        padding: 10px 10px;
        border: solid 1px black;
        margin-bottom: 15px;

        .main-name {
            .rec-name {
                display: block;
            }
        }

        .GJ {
            .rec-game {
                display: block;
            }
        }

        .PR {
            .rec-posi {
                margin-right: 20px;
            }
        }

        .letter {
            .rec-leader {
                display: block;
            }

            .rec-age {
                margin-right: 20px;
            }

            .rec-house {
                margin-right: 20px;
            }
        }

        .item-5 {
            text-align: right;

            .btn {
                margin-right: 5%;
            }
        }
    }
}

//タブレット
@media (min-width: 600px) {
    .search {
        display: block;
        width: 90%;
        margin: 0 auto 20px auto;

        .flex {
            display: flex;
        }

        .sub {
            display: block;
            margin-left: 35px;
            margin-top: 10px;
        }

        .adj {
            margin-left: 20%;
        }

        .select {
            width: 70%;
            margin-left: 35px;
        }

        .selectTeam {
            width: 33%;
        }

        .gamebox {
            width: 33%;
        }

        .other {
            width: 34%;

            // .house-op {
            //   display: none;
            // }
        }

        .submit {
            text-align: right;
            margin-right: 20px;
        }
    }

    .app-form {
        display: none;
    }

    .display {
        width: 80%;
        margin: 0 auto;

        .recruit {
            border: solid 1px black;
            padding: 10px 30px;
            margin-bottom: 15px;

            .main-name {
                .rec-name {
                    display: inline;
                }
            }

            .GJ {
                .rec-game {
                    display: inline;
                    margin-right: 20px;
                }
            }

            .PR {
                .rec-posi {
                    margin-right: 20px;
                }
            }

            .letter {
                .rec-leader {
                    margin-right: 20px;
                }
            }

            .item-5 {
                .btn {
                    margin-right: 0;
                }
            }
        }
    }
}

//pc 小型PC
@media (min-width: 960px) {
    .search {
        display: block;
        width: 70%;
        margin: 0 auto 20px auto;

        .flex {
            display: flex;
        }

        .sub {
            display: block;
            margin-left: 35px;
            margin-top: 10px;
        }

        .adj {
            margin-left: 20%;
        }

        .select {
            width: 70%;
            margin-left: 35px;
        }

        .selectTeam {
            width: 33%;
        }

        .gamebox {
            width: 33%;
        }

        .other {
            width: 34%;

            // .house-op {
            //   display: none;
            // }
        }

        .submit {
            text-align: right;
            margin-right: 20px;
        }
    }

    .app-form {
        display: none;
    }

    .display {
        width: 70%;
        margin: 0 auto;

        .recruit {
            border: solid 1px black;
            padding: 10px 30px;
            margin-bottom: 15px;

            .main-name {
                .rec-name {
                    display: inline;
                }
            }

            .GJ {
                .rec-game {
                    display: inline;
                    margin-right: 20px;
                }
            }

            .PR {
                .rec-posi {
                    margin-right: 20px;
                }
            }

            .letter {
                .rec-leader {
                    margin-right: 20px;
                    display: inline;
                }
            }
        }
    }
}

@media (min-width: 1280px) {
    .confirm {
        left: 35%;
        width: 30%;
        height: 120px;
    }
}
