@import "form";

.add {
  .flex {
    .item-1 {
      display: flex;

      .item-4 {
        width: 100%;
        display: flex;
        justify-content: space-around;

        .name {
          display: block;
          width: 48%;
        }
      }
    }

    .item-2 {
      text-align: center;

      .item-3 {
        display: flex;
        justify-content: space-between;

        .select-3 {
          width: 48%;
          height: 25px;
          border: solid 1px rgb(216, 216, 216);
          border-radius: 4px;
        }
      }

      .birthday {
        .birth {
          width: 31%;
          height: 25px;
          border: solid 1px rgb(216, 216, 216);
          background-color: white;
          border-radius: 4px;
        }
      }
    }
  }
}

@media (min-width: 600px) {
  .add {
    .flex {
      .item-1 {
        .item-4 {
          width: 60%;
          margin: 0 auto;
        }
      }
      .item-2 {
        .item-3 {
          width: 60%;
          margin: 0 auto;
        }

        .birthday {
          width: 60%;
          margin: 0 auto;
          .birth {
            width: 31%;
            border-radius: 4px;
            background-color: white;
          }
        }
      }
    }
  }
}

@media (min-width: 960px) {
  .add {
    .flex {
      display: block;

      .item-1 {
        width: 100%;
        .name {
          margin: 0;
        }
      }

      .item-2 {
        width: 100%;
        text-align: center;

        .select {
          width: 60%;
        }
      }
    }
  }
}
