main .entry {
  border: solid 1px white;
  width: 70%;
  height: 400px;
  margin: 0 auto;
}

main .entry h2 {
  text-align: center;
  color: white;
}

main .entry label {
  color: white;
}

main .entry span {
  color: white;
}

