input[type=submit] {
  -webkit-appearance: none;
  outline: none;
  background: transparent;
}

.btn {
  text-decoration: none;
  border: solid 1px black;
  border-radius: 5px;
  color: black;
  cursor: pointer;
  padding: 2px 5px;
}

.oubo-box {
  margin: 0 0 20px 10%;
}

.oubo-box .oubo {
  color: #1da1f2;
  text-decoration: none;
}

.add {
  background-color: #e6ecf0;
}

.add .photo {
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  background-color: white;
  margin-bottom: 1px;
  padding: 10px 10%;
}

.add .photo .picture-myteam {
  width: 100px;
  height: 100px;
  background: #eee;
}

.add .photo .picture-myteam .p {
  width: 100%;
  height: 100%;
}

.add .photo .picture-profile {
  width: 30%;
  height: 130px;
  background: #eee;
}

.add .photo .picture-profile .p {
  width: 100%;
  height: 100%;
}

.add .photo .input {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  width: 70%;
}

.add .photo .input .file {
  width: 100%;
}

.add .photo .input .item-5 {
  text-align: right;
}

.add .flex {
  background-color: white;
  padding: 10px 10%;
}

.add .flex .item-2 .select {
  margin-left: 35%;
  display: block;
}

.add .in-btn {
  background-color: white;
  padding: 10px 10%;
  margin-bottom: 1px;
}

.add .in-btn .flex2 .item-2 {
  text-align: center;
}

.add .item-5 {
  text-align: right;
  background-color: white;
  margin-bottom: 1px;
}

.add .out {
  padding: 0 10% 10px 0;
}

@media (min-width: 600px) {
  .add .photo .picture-myteam {
    width: 130px;
    height: 130px;
  }

  .add .photo .picture-profile {
    width: 100px;
  }

  .add .photo .input {
    width: 240px;
  }

  .add .flex .item-2 .select {
    margin-left: 40%;
  }
}

@media (min-width: 960px) {
  .add .flex {
    display: -webkit-box;
    display: flex;
  }

  .add .flex .item-1 {
    width: 30%;
    text-align: right;
    padding: 1px;
  }

  .add .flex .item-2 {
    width: 70%;
  }

  .add .flex .item-2 .select {
    margin-left: 20%;
  }

  .add .in-btn .flex2 {
    display: -webkit-box;
    display: flex;
  }

  .add .in-btn .flex2 .item-1 {
    width: 30%;
    text-align: right;
  }

  .add .in-btn .flex2 .item-2 {
    width: 70%;
    text-align: left;
  }

  .add .in-btn .flex2 .item-2 .select {
    margin-left: 100px;
  }
}

.add .password {
  background-color: white;
  padding: 10px 10%;
  margin-bottom: 1px;
}

.add .full-name {
  display: -webkit-box;
  display: flex;
  background-color: white;
  padding: 10px 10%;
}

.add .full-name .item-1 {
  width: 48%;
}

.add .full-name .item-1 .name {
  display: block;
}

.add .full-name .item-1 .select {
  display: block;
  text-align: center;
}

.add .full-name .item-2 {
  width: 48%;
}

.add .full-name .item-2 .name {
  display: block;
}

.add .full-name .item-2 .select {
  display: block;
  text-align: center;
}

.add .s {
  display: none;
}

.add .flex .twitter {
  text-align: center;
}

.add .flex .twitter .twi {
  width: 90%;
}

@media (min-width: 960px) {
  .add .flex .twitter {
    width: 70%;
    text-align: left;
  }

  .add .flex .twitter .at {
    margin-left: 100px;
  }

  .add .flex .twitter .select {
    margin-left: 100px;
  }

  .add .password .item-1 {
    width: 30%;
    text-align: right;
  }

  .add .full-name {
    display: none;
  }

  .add .s {
    display: -webkit-box;
    display: flex;
  }
}

